﻿div.venues-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.venue-item {
    display: flex;
    flex-direction: column;
    margin: 1em;
    height: 400px;
    width: 400px;
    background-color: #A8DADC;
    border-radius: 20px;
    padding: 20px;
}

div.venue-top {
    display: flex;
    flex-direction: row;
}

div.venue-info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

div.venue-ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

div.venue-ratings * {
    min-width: 150px;
    padding: 10px;
}

.filter-container {
    display: flex;
    flex-direction: row;
}

.filter-container * {
    display: flex;
    flex-direction: row;
    margin: 5px;
    line-height: 1.5em;
}